{% extends 'layout/base.html' %}
{% block title %} Demand Forecasting | Forgot Password {% endblock %}
{% block content%}
    <div class="h-full flex flex-col sm:justify-center items-center pt-6 sm:pt-0 bg-blue-300" x-data="forgot_password">
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                {% for category, message in messages %}
                    {% if category == 'info' %}
                        <div class="w-full sm:max-w-sm mt-2 px-6 py-4 bg-blue-400 shadow-md overflow-hidden sm:rounded-md" x-show="info_message">
                            <div class="w-full flex items-center justify-between text-white">
                                <div class="flex">
                                    <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 mr-2" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                                        <path stroke-linecap="round" stroke-linejoin="round" d="M13 16h-1v-4h-1m1-4h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z" />
                                    </svg>
                                    {{ message }}
                                </div>
                                <div class="cursor-pointer" >
                                    <span class="uppercase text-2xl" @click="info_message = false">&times;</span>
                                </div>
                            </div>
                        </div>
                    {% else %}
                        <div class="w-full sm:max-w-sm mt-2 px-6 py-4 bg-red-400 shadow-md overflow-hidden sm:rounded-md" x-show="error_message">
                            <div class="w-full flex items-center justify-between text-white">
                                <div class="flex">
                                    <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 mr-2" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                                        <path stroke-linecap="round" stroke-linejoin="round" d="M12 8v4m0 4h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z" />
                                    </svg>
                                    {{ message }}
                                </div>
                                <div class="cursor-pointer" >
                                    <span class="uppercase text-2xl" @click="error_message = false">&times;</span>
                                </div>
                            </div>
                        </div>
                    {% endif %}
                {% endfor %}
            {% endif %}
        {% endwith %}

        <div class="w-full sm:max-w-sm mt-2 px-6 py-4 bg-gray-800 shadow-md overflow-hidden sm:rounded-md mb-12">
            <div class="flex flex-col items-center justify-center">
                <div class="items-center justify-center">
                    <a href="/">
                        <img src="{{ url_for('static', filename="/img/ico.png") }}" alt="" class="w-24 h-24 mx-auto">
                    </a>
                    <h1 class="text-1xl mt-1 text-white text-center uppercase pb-7">Demand Forecasting</h1>
                </div>
            </div>

            <div class="">
                <form method="POST" action="">
                    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                    <div class="flex flex-col">
                        <span class="text-white text-center text-xs">Forgot your password? Just enter the email address you've used to access the system and we'll send you a reset link</span>
                    </div>
                    <div class="p-1 bg-yellow-100 rounded-md flex flex-row items-center space-x-2 mb-2 mt-7" style="display: none;" x-show="fp_isemail">
                        <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 text-red-400" viewBox="0 0 20 20" fill="currentColor">
                            <path d="M18 9.5a1.5 1.5 0 11-3 0v-6a1.5 1.5 0 013 0v6zM14 9.667v-5.43a2 2 0 00-1.105-1.79l-.05-.025A4 4 0 0011.055 2H5.64a2 2 0 00-1.962 1.608l-1.2 6A2 2 0 004.44 12H8v4a2 2 0 002 2 1 1 0 001-1v-.667a4 4 0 01.8-2.4l1.4-1.866a4 4 0 00.8-2.4z" />
                        </svg>
                        <span class="text-red-400 text-sm">
                            Please enter your email
                        </span>
                    </div>
                    <div class="p-1 bg-yellow-100 rounded-md flex flex-row items-center space-x-2 mb-2 mt-7" style="display: none;" x-show="!fp_email_found">
                        <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 text-red-400" viewBox="0 0 20 20" fill="currentColor">
                            <path d="M18 9.5a1.5 1.5 0 11-3 0v-6a1.5 1.5 0 013 0v6zM14 9.667v-5.43a2 2 0 00-1.105-1.79l-.05-.025A4 4 0 0011.055 2H5.64a2 2 0 00-1.962 1.608l-1.2 6A2 2 0 004.44 12H8v4a2 2 0 002 2 1 1 0 001-1v-.667a4 4 0 01.8-2.4l1.4-1.866a4 4 0 00.8-2.4z" />
                        </svg>
                        <span class="text-red-400 text-sm">
                            No record found for this email
                        </span>
                    </div>
                    <div class="p-1 bg-green-100 rounded-md flex flex-row items-center space-x-2 mb-2 mt-7" style="display: none;" x-show="fp_email_sent">
                        <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 text-green-400" viewBox="0 0 20 20" fill="currentColor">
                            <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z" clip-rule="evenodd" />
                        </svg>
                        <span class="text-green-400 text-sm">
                            A link was sent to your email
                        </span>
                    </div>

                    <div class="mt-7">
                        <input type="email" id="fp_email" name="email" x-ref="fp_email" value="" placeholder="email address" class="bg-gray-100 block mt-1 w-full rounded-md shadow-sm border-gray-300 focus:border-indigo-300 focus:ring focus:ring-indigo-200 focus:ring-opacity-50" >
                    </div>

                    <div class="flex items-center justify-center mt-10">
                        <button type="button" x-ref="fp_button" x-on:click="fp_submit" class="w-full inline-flex justify-center items-center px-auto py-3 bg-blue-300 border border-transparent rounded-md font-semibold text-xs text-white uppercase tracking-widest hover:bg-gray-700 active:bg-gray-300 focus:outline-none focus:border-gray-900 focus:ring ring-gray-300 disabled:opacity-25 transition ease-in-out duration-150">
                            Send Link to Email
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <script>
        document.addEventListener('alpine:init', () => {
            Alpine.data('forgot_password', () => ({
                fp_isemail: false,
                fp_email_found: true,
                fp_email_sent: false,
                fp_submit(){
                    if(this.$refs.fp_email.value){
                        this.$refs.fp_button.disabled = true;
                        const data = {
                            'email': this.$refs.fp_email.value,
                        };
                        axios.post('/forgot-password', data)
                        .then((response) => {
                            this.fp_email_found = response.data;
                            //send link here
                            if(!this.fp_email_found){
                                setTimeout(() => {
                                    this.fp_email_found = true;
                                    this.$refs.fp_button.disabled = false;
                                }, 3000);
                            }
                            else{
                                this.$refs.fp_email.value = '';
                                this.fp_email_sent = true;
                                setTimeout(() => {
                                    this.$refs.fp_button.disabled = false;
                                    this.fp_email_sent = false;
                                }, 7000);
                            }
                        });
                    }
                    else{
                        this.fp_isemail = true;
                        setTimeout(() => {
                            this.fp_isemail = false;
                        }, 3000);
                    }
                }
            }));
        });
    </script>
{% endblock %}



