{% extends 'layout/base.html' %}
{% block title %} Demand Forecasting | Login {% endblock %}
{% block content%}
    <div class="h-full flex flex-col sm:justify-center items-center pt-6 sm:pt-0 bg-blue-300" x-data="log_in">
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                {% for category, message in messages %}
                    {% if category == 'info' %}
                        <div class="w-full sm:max-w-sm mt-2 px-6 py-4 bg-blue-400 shadow-md overflow-hidden sm:rounded-md" x-show="info_message">
                            <div class="w-full flex items-center justify-between text-white">
                                <div class="flex">
                                    <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 mr-2" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                                        <path stroke-linecap="round" stroke-linejoin="round" d="M13 16h-1v-4h-1m1-4h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z" />
                                    </svg>
                                    {{ message }}
                                </div>
                                <div class="cursor-pointer" >
                                    <span class="uppercase text-2xl" @click="info_message = false">&times;</span>
                                </div>
                            </div>
                        </div>
                    {% else %}
                        <div class="w-full sm:max-w-sm mt-2 px-6 py-4 bg-red-400 shadow-md overflow-hidden sm:rounded-md" x-show="error_message">
                            <div class="w-full flex items-center justify-between text-white">
                                <div class="flex">
                                    <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 mr-2" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                                        <path stroke-linecap="round" stroke-linejoin="round" d="M12 8v4m0 4h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z" />
                                    </svg>
                                    {{ message }}
                                </div>
                                <div class="cursor-pointer" >
                                    <span class="uppercase text-2xl" @click="error_message = false">&times;</span>
                                </div>
                            </div>
                        </div>
                    {% endif %}
                {% endfor %}
            {% endif %}
        {% endwith %}

        <div class="w-full sm:max-w-sm mt-2 px-6 py-4 bg-gray-800 shadow-md overflow-hidden sm:rounded-md mb-12">
            <div class="flex flex-col items-center justify-center">
                <div class="items-center justify-center">
                    <a href="/">
                        <img src="{{ url_for('static', filename="/img/ico.png") }}" alt="" class="w-24 h-24 mx-auto">
                    </a>
                    <h1 class="text-1xl mt-1 text-white text-center uppercase pb-7">Demand Forecasting</h1>
                </div>
            </div>

            <div class="">
                <form method="POST" action="">
                    {{ form.csrf_token() }}
                    <div>
                        <label for="email" class="block font-medium text-sm text-white">{{ form.email.label }}</label>
                        {{ form.email(class="bg-gray-100 block mt-1 w-full rounded-md shadow-sm border-gray-300 focus:border-indigo-300 focus:ring focus:ring-indigo-200 focus:ring-opacity-50") }}
                    </div>

                    <div class="mt-4">
                        <label for="password" class="block font-medium text-sm text-white">{{ form.password.label }}</label>
                        {{ form.password(class="bg-gray-100 block mt-1 w-full rounded-md shadow-sm border-gray-300 focus:border-indigo-300 focus:ring focus:ring-indigo-200 focus:ring-opacity-50") }}
                    </div>

                    <!--<div class="block mt-4">
                        <label for="remember_me" class="inline-flex items-center">
                            <input id="remember_me" type="checkbox" class="rounded border-gray-300 text-indigo-600 shadow-sm focus:border-indigo-300 focus:ring focus:ring-indigo-200 focus:ring-opacity-50" name="remember">
                            <span class="ml-2 text-sm text-gray-600">Remember me</span>
                        </label>
                    </div>-->

                    <div class="flex items-center justify-center mt-10">
                        {{ form.submit(class="w-full inline-flex justify-center items-center px-auto py-3 bg-blue-400 border border-transparent rounded-md font-semibold text-xs text-white uppercase tracking-widest hover:bg-gray-700 active:bg-gray-300 focus:outline-none focus:border-gray-900 focus:ring ring-gray-300 disabled:opacity-25 transition ease-in-out duration-150") }}
                        <!-- <svg x-show="flag_lpw" xmlns="http://www.w3.org/2000/svg" class="h-7 w-7 p-1.5 hover:bg-gray-100 rounded-full absolute top-0 right-0 cursor-pointer text-gray-400 hover:text-gray-500 mt-1 mr-1" viewBox="0 0 20 20" fill="currentColor" x-on:click="$refs.l_confirm_password.type = ($refs.l_confirm_password.type === 'password') ? 'text' : 'password', flag_lpw = false">
                            <path fill-rule="evenodd" d="M3.707 2.293a1 1 0 00-1.414 1.414l14 14a1 1 0 001.414-1.414l-1.473-1.473A10.014 10.014 0 0019.542 10C18.268 5.943 14.478 3 10 3a9.958 9.958 0 00-4.512 1.074l-1.78-1.781zm4.261 4.26l1.514 1.515a2.003 2.003 0 012.45 2.45l1.514 1.514a4 4 0 00-5.478-5.478z" clip-rule="evenodd" />
                            <path d="M12.454 16.697L9.75 13.992a4 4 0 01-3.742-3.741L2.335 6.578A9.98 9.98 0 00.458 10c1.274 4.057 5.065 7 9.542 7 .847 0 1.669-.105 2.454-.303z" />
                        </svg>
                        <svg x-show="!flag_lpw" xmlns="http://www.w3.org/2000/svg" class="h-7 w-7 p-1.5 hover:bg-gray-100 rounded-full absolute top-0 right-0 cursor-pointer text-gray-400 hover:text-gray-500 mt-1 mr-1" viewBox="0 0 20 20" fill="currentColor" x-on:click="$refs.l_confirm_password.type = ($refs.l_confirm_password.type === 'password') ? 'text' : 'password', flag_lpw = true">
                            <path d="M10 12a2 2 0 100-4 2 2 0 000 4z" />
                            <path fill-rule="evenodd" d="M.458 10C1.732 5.943 5.522 3 10 3s8.268 2.943 9.542 7c-1.274 4.057-5.064 7-9.542 7S1.732 14.057.458 10zM14 10a4 4 0 11-8 0 4 4 0 018 0z" clip-rule="evenodd" />
                        </svg> -->
                    </div>

                    <div class="flex items-center justify-end mt-4">
                        <a class="underline text-sm text-white hover:text-gray-900" href="/forgot-password">
                            Forgot your password?
                        </a>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <script>
        document.addEventListener('alpine:init', () => {
            Alpine.data('log_in', () => ({
                flag_lpw: true
            }));
        });
    </script>
{% endblock %}
