{% extends 'layout/base.html' %}
{% block title %} Demand Forecasting | Reset Password {% endblock %}
{% block content%}
    <div class="h-full flex flex-col sm:justify-center items-center pt-6 sm:pt-0 bg-blue-300" x-data="reset_password">
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                {% for category, message in messages %}
                    {% if category == 'info' %}
                        <div class="w-full sm:max-w-sm mt-2 px-6 py-4 bg-blue-400 shadow-md overflow-hidden sm:rounded-md" x-show="info_message">
                            <div class="w-full flex items-center justify-between text-white">
                                <div class="flex">
                                    <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 mr-2" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                                        <path stroke-linecap="round" stroke-linejoin="round" d="M13 16h-1v-4h-1m1-4h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z" />
                                    </svg>
                                    {{ message }}
                                </div>
                                <div class="cursor-pointer" >
                                    <span class="uppercase text-2xl" @click="info_message = false">&times;</span>
                                </div>
                            </div>
                        </div>
                    {% else %}
                        <div class="w-full sm:max-w-sm mt-2 px-6 py-4 bg-red-400 shadow-md overflow-hidden sm:rounded-md" x-show="error_message">
                            <div class="w-full flex items-center justify-between text-white">
                                <div class="flex">
                                    <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 mr-2" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                                        <path stroke-linecap="round" stroke-linejoin="round" d="M12 8v4m0 4h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z" />
                                    </svg>
                                    {{ message }}
                                </div>
                                <div class="cursor-pointer" >
                                    <span class="uppercase text-2xl" @click="error_message = false">&times;</span>
                                </div>
                            </div>
                        </div>
                    {% endif %}
                {% endfor %}
            {% endif %}
        {% endwith %}

        <div class="w-full sm:max-w-sm mt-2 px-6 py-4 bg-gray-800 shadow-md overflow-hidden sm:rounded-md mb-12">
            <div class="flex flex-col items-center justify-center">
                <div class="items-center justify-center">
                    <a href="/">
                        <img src="{{ url_for('static', filename="/img/ico.png") }}" alt="" class="w-24 h-24 mx-auto">
                    </a>
                    <h1 class="text-1xl mt-1 text-white text-center uppercase pb-7">Reset Password</h1>
                </div>
            </div>

            <div class="">
                <form method="POST" action="{{ url_for('auth.reset_token', token=rp_token) }}">
                    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                    <div class="p-1 bg-yellow-100 rounded-md flex flex-row items-center space-x-2 mb-2 mt-7" style="display: none;" x-show="rp_ispassword">
                        <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 text-red-400" viewBox="0 0 20 20" fill="currentColor">
                            <path d="M18 9.5a1.5 1.5 0 11-3 0v-6a1.5 1.5 0 013 0v6zM14 9.667v-5.43a2 2 0 00-1.105-1.79l-.05-.025A4 4 0 0011.055 2H5.64a2 2 0 00-1.962 1.608l-1.2 6A2 2 0 004.44 12H8v4a2 2 0 002 2 1 1 0 001-1v-.667a4 4 0 01.8-2.4l1.4-1.866a4 4 0 00.8-2.4z" />
                        </svg>
                        <span class="text-red-400 text-sm">
                            Please enter your password
                        </span>
                    </div>
                    <div class="p-1 bg-yellow-100 rounded-md flex flex-row items-center space-x-2 mb-2 mt-7" style="display: none;" x-show="!rp_ispassword_matched">
                        <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 text-red-400" viewBox="0 0 20 20" fill="currentColor">
                            <path d="M18 9.5a1.5 1.5 0 11-3 0v-6a1.5 1.5 0 013 0v6zM14 9.667v-5.43a2 2 0 00-1.105-1.79l-.05-.025A4 4 0 0011.055 2H5.64a2 2 0 00-1.962 1.608l-1.2 6A2 2 0 004.44 12H8v4a2 2 0 002 2 1 1 0 001-1v-.667a4 4 0 01.8-2.4l1.4-1.866a4 4 0 00.8-2.4z" />
                        </svg>
                        <span class="text-red-400 text-sm">
                            Password don't matched
                        </span>
                    </div>
                    <div class="p-1 bg-green-100 rounded-md flex flex-row items-center space-x-2 mb-2 mt-7" style="display: none;" x-show="rp_success">
                        <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 text-green-400" viewBox="0 0 20 20" fill="currentColor">
                            <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z" clip-rule="evenodd" />
                        </svg>
                        <span class="text-green-400 text-sm">
                            Your password was reset successfully!
                        </span>
                    </div>

                    <div class="mt-1 flex- flex-col space-y-4">
                        <input type="password" id="rp_password" name="password" x-ref="rp_password" value="" placeholder="password" class="bg-gray-100 block mt-1 w-full rounded-md shadow-sm border-gray-300 focus:border-indigo-300 focus:ring focus:ring-indigo-200 focus:ring-opacity-50" >
                        <input type="password" id="rp_confirm_password" name="confirm_password" x-ref="rp_confirm_password" value="" placeholder="confirm password" class="bg-gray-100 block mt-1 w-full rounded-md shadow-sm border-gray-300 focus:border-indigo-300 focus:ring focus:ring-indigo-200 focus:ring-opacity-50" >
                    </div>

                    <div class="flex items-center justify-center mt-10">
                        <button type="button" x-ref="fp_button" x-on:click="rp_submit" class="w-full inline-flex justify-center items-center px-auto py-3 bg-blue-300 border border-transparent rounded-md font-semibold text-xs text-white uppercase tracking-widest hover:bg-gray-700 active:bg-gray-300 focus:outline-none focus:border-gray-900 focus:ring ring-gray-300 disabled:opacity-25 transition ease-in-out duration-150">
                            Reset Password
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <script>
        document.addEventListener('alpine:init', () => {
            Alpine.data('reset_password', () => ({
                rp_ispassword: false,
                rp_ispassword_matched: true,
                rp_success: false,
                rp_submit(){
                    if(this.$refs.rp_password.value && this.$refs.rp_confirm_password.value){
                        if(this.$refs.rp_password.value == this.$refs.rp_confirm_password.value){
                            this.$refs.fp_button.type = 'submit';
                            //this.$refs.fp_button.disabled = true;
                        }
                        else {
                            this.rp_ispassword_matched = false;
                            setTimeout(() => {
                                this.rp_ispassword_matched = true;
                            }, 3000);
                        }
                    }
                    else{
                        this.rp_ispassword = true;
                        setTimeout(() => {
                            this.rp_ispassword = false;
                        }, 3000);
                    }
                }
            }));
        });
    </script>
{% endblock %}



